.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background: rgb(92, 214, 92);
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
}

.logo {
    color: #0070f3;
    margin: 0;
}

nav :link{
    margin-left: 16px ;
}