.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background: rgb(49, 98, 181);
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
}

.headerSuperior {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    color: #ebebeb;
}

.boasVindas {
    display: flex;
    flex-direction: column;

}

.logo {
    color: #ebebeb;
    margin: 0;
}

nav :link{
    margin-left: 16px ;
}